/* doc/src/sgml/stylesheet.css */

/* color scheme similar to www.postgresql.org */

@media screen and (min-width: 641px) {
    BODY > * {
	width: 90%;
	margin: auto	!important;
	display: block;
	text-align: left;
    }
}

BODY {
	color: #000000;
	background: #FFFFFF;
	font-family: verdana, sans-serif;
}

script {
        display: none;
}

A:link		{ color:#0085B0; }
A:visited	{ color:#004E66; }
A:active	{ color:#0085B0; }
A:hover		{ color:#000000; }

p i, pre i, .emphasis em {
	font-style: normal;
	font-weight: bold;
	color: #440000;
}

.replaceable code {
	font-style: italic;
}

pre strong {
        white-space: nowrap;
}

p span, pre span, p acronym, pre acronym {
	font-style: normal;
	color: #440000;
}

p tt, pre tt {
	font-family: monospace;
	color: #440000;
}

H1 {
	font-size: 1.4em;
	font-weight: bold;
	margin-top: 0em;
	margin-bottom: 0em;
	color: #EC5800;
}

H2 {
	font-size: 1.3em;
	margin: 1.2em 0em 1.2em 0em;
	font-weight: bold;
	color: #EC5800;
}

H3 {
	font-size: 1.2em;
	margin: 1.2em 0em 1.2em 0em;
	font-weight: bold;
	color: #EC5800;
}

H4 {
	font-size: 1.1em;
	margin: 1.2em 0em 1.2em 0em;
	font-weight: normal;
	font-weight: bold;
	color: #EC5800;
}

H5 {
	font-size: 0.9em;
	margin: 1.2em 0em 1.2em 0em;
	font-weight: normal;
}

H6 {
	font-size: 0.85em;
	margin: 1.2em 0em 1.2em 0em;
	font-weight: normal;
}

p {
	line-height: 1.3;
}

/* center some titles */

.BOOK .TITLE, .BOOK .CORPAUTHOR, .BOOK .COPYRIGHT, .book .titlepage {
	text-align: center;
}

/* decoration for formal examples */
DIV.EXAMPLE, div.example {
	padding-left: 15px;
	border-style: solid;
	border-width: 0px;
	border-left-width: 2px;
	border-color: black;
	margin: 0.5ex;
}

BLOCKQUOTE.NOTE, BLOCKQUOTE.TIP, table.CAUTION, table.WARNING, div.note, div.tip, div.important, div.caution, div.warning, div.blockquote {
	margin: 4ex auto;
	color: black;
	display: block;
	border-color: #DBDBCC;
	background-color: #EED;
	padding: 14px;
	max-width: 720px;
	border-width: 1px;
	border-style: solid;
	overflow: auto;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	-khtml-border-radius: 8px;
	border-radius: 8px;
}

/* less dense spacing of TOC */

.BOOK .TOC DL DT {
	padding-top: 1.0ex;
	padding-bottom: 1.0ex;
}

.BOOK .TOC DL DL DT {
	padding-top: 0.2ex;
	padding-bottom: 0.2ex;
}

/* miscellaneous */

PRE.LITERALLAYOUT, .SCREEN, .SYNOPSIS, .PROGRAMLISTING, pre.literallayout, pre.screen, pre.synopsis, pre.programlisting {
	margin-left: 4ex;
	border-color: #CFCFCF;
	background-color: #F7F7F7;
	color: #000;
	border-width: 1px;
	border-style: solid;
	padding: 2ex;
	margin: 2ex 0px 2ex 2ex;
	overflow: auto;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	-khtml-border-radius: 8px;
	border-radius: 8px;
}

/* shadow */

PRE.LITERALLAYOUT, PRE.SCREEN, PRE.SYNOPSIS, PRE.PROGRAMLISTING, BLOCKQUOTE.NOTE, BLOCKQUOTE.TIP, table.CAUTION, table.CALSTABLE, table.WARNING, pre.literallayout, pre.screen, pre.synopsis, pre.programlisting, div.note, div.tip, table.caution, table.calstable, table.warning, div.blockquote, .informaltable table, .table-contents table {
	-moz-box-shadow: 3px 3px 5px #DFDFDF;
	-webkit-box-shadow: 3px 3px 5px #DFDFDF;
	-khtml-box-shadow: 3px 3px 5px #DFDFDF;
	-o-box-shadow: 3px 3px 5px #DFDFDF;
	box-shadow: 3px 3px 5px #DFDFDF;
}

/* Table Styles */

.table-contents table,
.informaltable table,
table.CALSTABLE,
table.CAUTION,
table.WARNING {
	border-spacing: 0;
	border-collapse: collapse;
}

.table-contents table,
.informaltable table,
table.CALSTABLE {
	margin: 2ex 0 2ex 2ex;
	background-color: #E0ECEF;
	border: 2px solid #A7C6DF;
}

table.CAUTION,
table.WARNING {
	border-collapse: separate;
	display: block;
	padding: 0;
}

table.CAUTION {
	background-color: #F5F5DC;
	border-color: #DEDFA7;
}

table.WARNING, div.warning {
	background-color: #FFD7D7;
	border-color: #DF421E;
}

table.CALSTABLE td,
table.CALSTABLE th,
table.CAUTION td,
table.CAUTION th,
table.WARNING td,
table.WARNING th {
	border-style: solid;
}

table.CAUTION td,
table.CAUTION th,
table.WARNING td,
table.WARNING th {
	border-width: 0;
	padding-left: 2ex;
	padding-right: 2ex;
}

table.WARNING td {
	padding-top: 7px;
}

.table-contents table td,
table.CALSTABLE td {
	background-color: #FFF;
}

table.CAUTION td,
table.CAUTION th {
	border-color: #f3e4d5;
}

table.WARNING td,
table.WARNING th {
	border-color: #ffd7d7;
}

.table-contents table, .table-contents td, .table-contents th{
	border: 1px solid #a7c6df;
	padding: 0.5ex 0.5ex;
}

.table-contents table td,
.table-contents table th,
.informaltable table td,
.informaltable table th,
table.CALSTABLE td,
table.CALSTABLE th {
	border: 1px solid #a7c6df;
	padding: 0.5ex 0.5ex;
}

.informaltable table td {
	background-color: #FFF;
}

.table-contents table tr:hover td,
.informaltable table tr:hover td,
table.CALSTABLE tr:hover td {
	background-color: #EFEFEF;
}

td.c1,
td.c2,
td.c3,
td.c4,
td.c5,
td.c6 {
	font-size: 1.1em;
	font-weight: bold;
	border-bottom: 0 solid #ffefef;
	padding: 1ex 2ex 0;
}

table.simplelist {
	border-collapse: collapse;
}
table.simplelist th, table.simplelist td {
	border: 1px solid #ccc;
	padding: 10px;
}

.original {
	display: block;
	color: #008800;
}

.actions {
	font-size: 65%;
}

.COMMENT,.comment { color: red; }

VAR		{ font-family: monospace; font-style: italic; }
/* Konqueror's standard style for ACRONYM is italic. */
ACRONYM		{ font-style: inherit; }
