Source: age
Section: database
Priority: optional
Maintainer: unknown <ahmar@AHMAR>
Build-Depends: debhelper-compat (= 13),
               postgresql-12 | postgresql-11,
               build-essential,
               libreadline-dev,
               zlib1g-dev,
               flex,
               bison
Standards-Version: 4.5.1
Homepage: <insert the upstream URL, if relevant>
#Vcs-Browser: https://salsa.debian.org/debian/age
#Vcs-Git: https://salsa.debian.org/debian/age.git
Rules-Requires-Root: no

Package: age
Architecture: all
Depends: ${misc:Depends},
         ${postgresql:Depends},
         ${shlibs:Depends}
Description: Apache AGE is an extension for PostgreSQL that enables users to leverage a graph database on top of the existing relational databases. 
