.Content {
  width: 100%;
  height: 100%;
  min-height: 100%;
  transition: all 0.3s;
  top: 0;
  right: 0;
  background-color: var(--bg-color);
  color: var(--text-color);
}

.Content.Expanded {
  width: 100%;
}
