.root {
  display: grid;
  grid-template-columns: 1.5fr 5fr;
  grid-template-rows: 20vh auto-fill;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  max-width: 1600px;
  margin: auto;
}

/*
 *   HEADER 
 */

.header {
  grid-column: 1 / -1;
  background-color: black;
  padding-bottom: 0.5rem;
}

.header--title {
  color: antiquewhite;
  font-size: 1.3rem;
  padding-left: 1rem;
}

.header--hamburger {
  top: 1rem;
  right: 1rem;
  position: fixed;
  cursor: pointer;
}
@media only screen and (min-width: 800px) {
  .header--hamburger {
    display: none;
  }
}

.header--hamburger-div {
  width: 35px;
  height: 5px;
  background-color: darkgoldenrod;
  margin: 6px 0;
}

/*
 *   SIDEBAR
 */

.sidebar {
  grid-column: 1 / 2;
  grid-row: 2;
  background-color: rgb(240, 239, 239);
  padding-left: 1rem;
  padding-right: 1rem;
  display: block;
}
@media only screen and (max-width: 800px) {
  .sidebar {
    display: none;
    z-index: 100;
  }
}


.sidebar--selected {
  border-bottom: 1px dotted blue;
}

.sidebar--selected::before {
  content: "➔";
}

.sidebar-link {
  text-decoration: none;
  color: black;
}

/*
 *   MAIN AREA 
 */

.main {
  grid-column: 2 / 3;
  grid-row: 2;
  padding-right: 2rem;
  overflow: auto;
}
@media only screen and (max-width: 800px) {
  .main {
    grid-column: 1 / -1;
  }
}

.main-body {
  padding-left: 1rem;
}

.main-item {
  display: none;
}

.main--selected {
  display: contents;
}

/*
 *   FOOTER 
 */

.footer {
  width: 100%;
  margin-bottom: 2rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.footer-img {
  display: block;
  margin: auto;
}


/*
 *   GENERAL 
 */

.heading {
  font-size: 1.3rem;
  padding-left: .5rem;
}

.center {
   text-align: center;
   margin: auto;
 }

.emph {
  font-weight: 700;
}

.title {
  font-size: 3rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
}

.subtitle {
  font-size: 2rem;
  padding-left: 1rem;
  padding-top: 1rem;
}

.code {
  margin: 1rem;
  background-color: lightgoldenrodyellow;
  font-family: "Courier New", Courier, monospace;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
  white-space: pre;
  overflow: auto;
}

.inline-code {
  background-color: lightgray;
  font-family: "Courier New", Courier, monospace;
  padding-left: .4rem;
  padding-right: .4rem;
}

.codebox {
  border: 5px solid black;
  white-space: pre;
  overflow: auto;
}

.external-link::after {
  color: blue;
  content: "➚";
}

.mail-link::after {
  color: red;
  content: "✉"
}

.search {
  line-height: 2rem;
}

br {
  content: "";
  margin: 2em;
  display: block;
  font-size: 24%;
}

table {
  border-collapse: collapse;
  border: 2px solid black;
  width: 80%;  
}
thead,
tfoot {
    background-color: lightblue;
    font-size: 1.2rem;  
}

tbody {
    background-color: #e4f0f5;
}

td,
th {
  border: 1px solid black;
  padding: 5px 10px;
}
tr:nth-child(even) { 
  background-color: lightgrey; 
} 

.tblhead {
  width: 9rem;
}