name: Python Driver Tests

on:
  push:
    branches: [ "master" ]

  pull_request:
    branches: [ "master" ]

jobs:
  build:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: drivers/python

    steps:
    - uses: actions/checkout@v4

    - name: Run apache/age docker image
      run: docker compose up -d

    - name: Set up python
      uses: actions/setup-python@v5
      with:
        python-version: '3.12'

    - name: Install pre-requisites
      run: |
        sudo apt-get install python3-dev libpq-dev
        pip install --no-binary psycopg -r requirements.txt

    - name: Build
      run: |
        pip install .

    - name: Test
      run: |
        python test_age_py.py -db "postgres" -u "postgres" -pass "agens"
        python test_networkx.py -db "postgres" -u "postgres" -pass "agens"
        python -m unittest -v test_agtypes.py
        python -m unittest -v test_security.py
